
<div class="container">
    <h1>TO-DO APPLICATION</h1>
    <hr>
    <form id="submitForm"  (ngSubmit)="onSubmit(taskForm)" #taskForm="ngForm" >
        <div class="form-group">
            <input type="text" class="form-control" id="task"  placeholder="Enter task" ngModel name="task" required>
            <small 
            *ngIf="taskForm.invalid && taskForm.dirty"
            id="error" 
            class="form-text text-danger">Required field</small> <!--dirty=true quand on a saisi sur le form et false quand on l'a soumis sans saisi.-->
        </div>
        
        <button 
        [disabled]="taskForm.invalid"
        type="submit" 
        class="btn btn-primary" 
        id="submitButton">Submit</button> <!-- [disabled]="taskForm.invalid" càd Si le formulaire nommé taskForm est invalide, ce btn sera désactivé-->
    </form>

    <hr>

    <table class="table">

        <thead>
          <tr>
            <th scope="col">Task</th>
            <th scope="col">Completed</th>
            <th scope="col">Delete</th>
            <th scope="col">Edit</th>
            <th scope="col">Save</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let task of taskArray; index as i">
            <td>
                <input 
                #taskInput type="text" 
                [ngClass]="{'edit': task.isEditable, 'not-edit':!task.isEditable, 'crossed': task.isCompleted}"
                class="form-control" 
                id="taskInTable" 
                value="{{task.taskName}}" 
                [readonly]="!task.isEditable">
 
            </td>
            <td>
                <input 
                (change)="onCheck(i)"
                type="checkbox" 
                id="myCheckbox">
            </td>
            <td>
                <button id="delete" class="btn btn-danger btn-sm" (click)="onDelete(i)"> Delete </button>
            </td>
            <td>
                <button id="edit" class="btn btn-primary btn-sm" (click)="onEdit(i)" [disabled]="task.isEditable"> Edit </button>
            </td>
            <td>
                <button id="save" class="btn btn-warning btn-sm" (click)="onSave(i, taskInput.value)" [disabled]="!task.isEditable"> Save </button>
            </td>
          </tr>
          
        </tbody>
      </table>

</div>
